<p id="notice"><%= notice %></p>

<p>
  <strong>Task title:</strong>
  <%= @task.task_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date.strftime("%B %e, %Y at %I:%M %p")  %>
</p>

<p>
  <strong>Offering$</strong>
  <%= @task.offering %>
</p>

<p>
  <strong>Host:</strong>
  <%= @task.host.user.name %>
</p>
<%= link_to "Buy", new_charge_path(:task_id => @task.id), method: :get, class: "btn btn-primary" %>

<%= link_to 'Post a task' , employees_path(:task_id => @task.id), method: :post %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', job_page_path %>
