<%= stylesheet_link_tag 'job' %>
<div class="container">


  <div class="row">

    <% @tasks.each do |task| %>
    <div  class="col-sm">


      <div id='task-cards' class="card" >
        <h5 class="card-title"><%= task.task_title %></h5>
        <img class="card-img-top" src="https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif" alt ="Card image cap">
          <div class="card-body">


              <p id='card-desription' class='card-text' ><%= task.description  %></p>
              <p class="card-text"><%=  task.location %></p>
              <p class="card-text"><%= task.date.strftime("%B %e, %Y at %I:%M %p") %></p>
              <p class="card-text"><%= task.offering %></p>
              <p id=card-button class="btn btn-primary"><%= link_to "Browse tasks",task_path(task), {:style=>'color: #13293D;, text-decoration: none;'}%></p><!--  this part ^^^^ is used to style my link_to tags-->

          </div>

      </div>

    </div>
    <% end %>
  </div>
</div>
