<% @tasks.each do |task| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Title</th>
      <th scope="col">Description</th>
      <th scope="col">location</th>
      <th scope="col">Date</th>
      <th scope="col">Offering</th>
      <th scope="col">Host Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= task.id %></th>
      <td><%= task.task_title %></td>
      <td><%= task.description %></td>
      <td><%= task.location %></td>
      <td><%= task.date %></td>
      <td><%= task.offering %></td>
      <td><%= task.host.user.name %></td>
    </tr>
  </tbody>
</table>
<% end %>
